*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Antic Slab', serif;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: linear-gradient(to right top,#65dfc9,#6cdbeb);
}
body::before{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(#f00,#f0f);
    clip-path: circle(30% at right 80%);
    z-index: -1;
}
body::after{
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(#2196f3,#e91e63);
    clip-path: circle(20% at 10% 10%);
    z-index: -1;
}
.main-con{
    height: 90vh;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.5),rgba(255,255,255,0.3));
    border-radius: 10px;
    overflow-y: scroll;
}
ul{
    /* border: 1px solid black; */
}
ul li{
    height: 10vh;
    background: linear-gradient(to right bottom,rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    backdrop-filter: blur(1rem);
    margin: 20px 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    /* border: 1px solid black; */
}